#Google
STRATEGY_BASE_URL = https://generativelanguage.googleapis.com/v1beta/openai/
STRATEGY_AI_API_KEY = API_KEY_HERE
STRATEGY_AI_MODEL = gemini-3-flash-preview

#xAI
#CHAT_AI_API_KEY = API_KEY_HERE
#CHAT_BASE_URL = https://api.x.ai/v1
#CHAT_AI_MODEL = grok-4-1-fast-reasoning

#Deepseek
CHAT_AI_API_KEY = API_KEY_HERE
CHAT_BASE_URL = https://api.deepseek.com
CHAT_AI_MODEL = deepseek-reasoner

# LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="MediAI Discord"

DISCORD_TOKEN = DISCORD_TOKEN_HERE
MCP_URL="https://mcp.example.com/mcp"